@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
  overflow: hidden;
  border-radius: 20px;
}